# do daily/weekly/monthly maintenance
# min	hour	day	month	weekday	command
*/15	*	*	*	*	run-parts /etc/crond.d/15min
0	*	*	*	*	run-parts /etc/crond.d/hourly
0	2	*	*	*	run-parts /etc/crond.d/daily
0	3	*	*	6	run-parts /etc/crond.d/weekly
0	5	1	*	*	run-parts /etc/crond.d/monthly
# finished
